# Extract value by index position

In [18]:
import pandas as pd
pokemon = pd.read_csv("pokemon.csv", usecols = ["Name"], squeeze = True)
pokemon.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [19]:
pokemon[10]

'Wartortle'

In [20]:
pokemon[4]

'Charmander'

In [21]:
pokemon[[100,200,300]]

100      Haunter
200    Sudowoodo
300      Swellow
Name: Name, dtype: object

In [23]:
pokemon[50 : 61]

50    Vileplume
51        Paras
52     Parasect
53      Venonat
54     Venomoth
55      Diglett
56      Dugtrio
57       Meowth
58      Persian
59      Psyduck
60      Golduck
Name: Name, dtype: object

In [25]:
pokemon[:11]

0                     Bulbasaur
1                       Ivysaur
2                      Venusaur
3         VenusaurMega Venusaur
4                    Charmander
5                    Charmeleon
6                     Charizard
7     CharizardMega Charizard X
8     CharizardMega Charizard Y
9                      Squirtle
10                    Wartortle
Name: Name, dtype: object

In [26]:
pokemon[-30:]

770                  Sylveon
771                 Hawlucha
772                  Dedenne
773                  Carbink
774                    Goomy
775                  Sliggoo
776                   Goodra
777                   Klefki
778                 Phantump
779                Trevenant
780    PumpkabooAverage Size
781      PumpkabooSmall Size
782      PumpkabooLarge Size
783      PumpkabooSuper Size
784    GourgeistAverage Size
785      GourgeistSmall Size
786      GourgeistLarge Size
787      GourgeistSuper Size
788                 Bergmite
789                  Avalugg
790                   Noibat
791                  Noivern
792                  Xerneas
793                  Yveltal
794         Zygarde50% Forme
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, dtype: object

In [27]:
pokemon[-30: -20]

770      Sylveon
771     Hawlucha
772      Dedenne
773      Carbink
774        Goomy
775      Sliggoo
776       Goodra
777       Klefki
778     Phantump
779    Trevenant
Name: Name, dtype: object

# Extract Value by index label

In [44]:
import pandas as pd
pokemon = pd.read_csv("pokemon.csv", index_col = "Name", squeeze = True)
pokemon.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False

# .get() method

In [45]:
import pandas as pd
pokemon = pd.read_csv("pokemon.csv", index_col = "Name",squeeze = True)
pokemon.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False

In [61]:
pokemon.set_index("Defense").head(3)

,#,Type 1,Type 2,Total,Attack,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Defense,,,,,,,,,,
49,1,Grass,Poison,318,49,65,65,45,1,False
63,2,Grass,Poison,405,62,80,80,60,1,False
83,3,Grass,Poison,525,82,100,100,80,1,False

In [62]:
pokemon.set_index("Total").head(3)

,#,Type 1,Type 2,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Total,,,,,,,,,,
318,1,Grass,Poison,49,49,65,65,45,1,False
405,2,Grass,Poison,62,63,80,80,60,1,False
525,3,Grass,Poison,82,83,100,100,80,1,False

In [94]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Name",squeeze = True)
pokemon.sort_index(inplace = True)
pokemon.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Abomasnow,460,Grass,Ice,494,90,92,75,92,85,60,4,False
AbomasnowMega Abomasnow,460,Grass,Ice,594,90,132,105,132,105,30,4,False
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False
Absol,359,Dark,NaN,465,65,130,60,75,60,75,3,False
AbsolMega Absol,359,Dark,NaN,565,65,150,60,115,60,115,3,False

In [99]:
pokemon.get("digimon", default = "Not present")

'Not present'

# Math methods

In [107]:
import pandas as pd
data = pd.read_csv("google stock.csv", squeeze = True)
data.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [108]:
data.count()

Date      1258
Open      1258
High      1258
Low       1258
Close     1258
Volume    1258
dtype: int64

In [109]:
len(data)

1258

In [110]:
data.sum()

Date      1/3/20121/4/20121/5/20121/6/20121/9/20121/10/2...
Open                                                 671407
High                                                 676653
Low                                                  665491
Close     663.59666.45657.21648.24620.76621.43624.25627....
Volume    7,380,5005,749,4006,590,3005,405,90011,688,800...
dtype: object

In [111]:
data.mean()

Open    533.709833
High    537.880223
Low     529.007409
dtype: float64

In [121]:
data.std()

Open    151.904442
High    153.008811
Low     150.552807
dtype: float64

In [122]:
data.min()

Date      1/10/2012
Open         279.12
High         281.21
Low          277.22
Close      1,000.55
Volume    1,005,000
dtype: object

In [123]:
data.max()

Date      9/9/2016
Open        816.68
High        816.68
Low         805.14
Close       922.16
Volume     989,100
dtype: object

In [124]:
data.median()

Open    537.47
High    540.75
Low     532.99
dtype: float64

# idxmin and idxmax methods

In [128]:
import pandas as pd
data = pd.read_csv("google stock.csv", usecols = ["Open"], squeeze = True)
data.head()

0    325.25
1    331.27
2    329.83
3    328.34
4    322.04
Name: Open, dtype: float64

In [129]:
data.max()

816.68

In [130]:
data.min()

279.12

In [131]:
data.idxmax()

1211

In [132]:
data[1211]

816.68

In [133]:
data.idxmin()

114

In [134]:
data[114]

279.12

In [135]:
data[data.idxmin]

279.12

In [136]:
data[data.idxmax]

816.68